In [2]:
x = 'hello'

In [3]:
x = x.replace('l',"")

print(x)

heo

In [4]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 6 @ 4 @ 8 4 2 2 @ 0
 6 4 8 4 @ @ 4 6 @ 4
 6 0 @ 2 0 0 @ 4 2 @
 8 6 @ @ @ 2 2 @ @ 4
 8 @ 2 @ 6 6 0 8 0 4
 6 @ @ 2 4 4 @ 6 6 2
 0 8 6 @ @ @ @ 6 0 8
 @ 0 @ 0 @ @ @ @ 0 @
 0 @ @ 0 4 8 8 0 4 4
 @ @ @ @ 8 @ 2 @ 2 2

In [8]:
import random
numbers = []
for i in range(100):
  numbers.append(random.randint(0,9))

In [9]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

0   1   8   8   9   3   7   6   2   4

4   9   3   8   0   2   4   8   4   4

9   3   2   4   7   6   1   3   8   1

3   2   5   9   2   5   5   3   2   2

6   3   3   5   1   4   9   2   4   9

3   3   8   0   1   1   8   4   7   7

3   0   8   1   8   9   0   1   8   7

7   5   1   3   0   0   7   4   7   8

1   0   7   8   4   6   6   1   1   5

4   2   0   5   2   3   0   7   2   2

In [7]:
#  generate 100 number first
numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))
print(numbers)
print(len(numbers))

[5, 6, 8, 3, 3, 7, 3, 4, 6, 5, 0, 7, 0, 9, 1, 5, 1, 1, 5, 1, 7, 1, 0, 7, 9, 6, 6, 5, 6, 0, 5, 2, 6, 8, 1, 9, 9, 2, 8, 2, 1, 0, 9, 9, 8, 4, 5, 5, 0, 5, 5, 2, 6, 3, 8, 3, 6, 5, 9, 0, 1, 2, 4, 9, 9, 7, 6, 4, 6, 9, 3, 0, 0, 3, 8, 6, 6, 3, 9, 6, 6, 6, 8, 4, 8, 1, 6, 6, 0, 1, 8, 4, 3, 5, 1, 1, 7, 2, 0, 6]
100

In [ ]:
for n in range(10):
  sum = 0
  for i in range(10):
    y = random

In [10]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [11]:
x = [0]*6
print(x)

[0, 0, 0, 0, 0, 0]

In [12]:
x = [0]*100
print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]